In [365]:
import pandas as pd
import numpy as np
import datetime

In [366]:
df = pd.read_excel("/home/administor/Downloads/Book1.xlsx")
df

,Unnamed: 0,max_infection_rate,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,date 1,date 2,date 3,date 4
0,Afghanistan,232,0.350,0.517,0.361,0.000,2020-02-08,2017-04-12,2020-02-18,2015-05-14
1,Albania,34,0.947,0.848,0.874,0.383,2020-05-04,2015-01-05,2020-03-04,2015-06-14
2,Algeria,199,1.002,1.160,0.785,0.086,2020-04-03,2010-09-30,2020-08-03,2015-07-14
3,Argentina,291,1.092,1.432,0.881,0.471,2020-01-01,2006-06-07,2020-01-01,2015-08-14
4,Armenia,134,0.850,1.055,0.815,0.283,2020-06-07,2013-05-02,2020-06-17,2015-09-14
5,America,10024,0.750,2.440,0.530,0.660,2020-03-03,2006-08-04,2020-03-23,2015-10-14

In [367]:
#declaration
list1=[] #location for date columns
print(df.dtypes[-1])

datetime64[ns]

In [368]:
#x=df[df.columns[-1]
len(list1)

0

In [369]:
#type(df[df.columns[-1]][0])
for i in range(10):
    if df.dtypes[i] == 'datetime64[ns]':
        list1.append(i)
list1.append(list1[0])
print(list1," this indexes has date values inside them" )
len(list1)

[6, 7, 8, 9, 6]  this indexes has date values inside them

5

In [370]:
# we have to add column names manually as we cannot add automatically because it overwrites in the values 
df=df.assign(date1date2= lambda y:abs(df[df.columns[list1[0]]] - df[df.columns[list1[1]]]))
df=df.assign(date2date3= lambda y:abs(df[df.columns[list1[1]]] - df[df.columns[list1[2]]]))
df=df.assign(date3date4= lambda y:abs(df[df.columns[list1[2]]] - df[df.columns[list1[3]]]))
df=df.assign(date4date1= lambda y:abs(df[df.columns[list1[3]]] - df[df.columns[list1[4]]]))
df

,Unnamed: 0,max_infection_rate,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,date 1,date 2,date 3,date 4,date1date2,date2date3,date3date4,date4date1
0,Afghanistan,232,0.350,0.517,0.361,0.000,2020-02-08,2017-04-12,2020-02-18,2015-05-14,1032 days,1042 days,1741 days,1731 days
1,Albania,34,0.947,0.848,0.874,0.383,2020-05-04,2015-01-05,2020-03-04,2015-06-14,1946 days,1885 days,1725 days,1786 days
2,Algeria,199,1.002,1.160,0.785,0.086,2020-04-03,2010-09-30,2020-08-03,2015-07-14,3473 days,3595 days,1847 days,1725 days
3,Argentina,291,1.092,1.432,0.881,0.471,2020-01-01,2006-06-07,2020-01-01,2015-08-14,4956 days,4956 days,1601 days,1601 days
4,Armenia,134,0.850,1.055,0.815,0.283,2020-06-07,2013-05-02,2020-06-17,2015-09-14,2593 days,2603 days,1738 days,1728 days
5,America,10024,0.750,2.440,0.530,0.660,2020-03-03,2006-08-04,2020-03-23,2015-10-14,4960 days,4980 days,1622 days,1602 days