In [115]:
import pandas as pd
import numpy as np
import datetime

In [122]:
df = pd.read_excel("/home/administor/Documents/first.xlsx")
df

          d1         d2
0 2020-07-13 2019-02-03
1 2020-08-11 2019-02-04
2 2020-07-12 2019-02-09
3 2020-07-13 2019-02-06
4 2020-07-27 2019-02-07
5 2020-07-15 2019-02-08
6 2020-07-16 2019-02-02
7 2020-07-12 2019-02-10
8 2020-07-18 2019-02-01

In [123]:
df['diff']='None'
df
len(df)
#list1=[len(df)]

9

In [124]:
list1=[]

len(df)

In [125]:
for i in range(0,9):
    x = str(df.d1[i] - df.d2[i])
    list1.append(x)
list1

['526 days 00:00:00',
 '554 days 00:00:00',
 '519 days 00:00:00',
 '523 days 00:00:00',
 '536 days 00:00:00',
 '523 days 00:00:00',
 '530 days 00:00:00',
 '518 days 00:00:00',
 '533 days 00:00:00']

In [126]:
df['diff']=list1

In [127]:
df

          d1         d2               diff
0 2020-07-13 2019-02-03  526 days 00:00:00
1 2020-08-11 2019-02-04  554 days 00:00:00
2 2020-07-12 2019-02-09  519 days 00:00:00
3 2020-07-13 2019-02-06  523 days 00:00:00
4 2020-07-27 2019-02-07  536 days 00:00:00
5 2020-07-15 2019-02-08  523 days 00:00:00
6 2020-07-16 2019-02-02  530 days 00:00:00
7 2020-07-12 2019-02-10  518 days 00:00:00
8 2020-07-18 2019-02-01  533 days 00:00:00